<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goprojectstudio.jatengid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".TutorialAksaraActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".TariBedhayaKetawangActivity" />
        <activity android:name=".WayangKulitActivity" />
        <activity android:name=".PembayaranActivity" />
        <activity android:name=".ListRumahActivity" />
        <activity android:name=".Mp3PlayerActivity" />
        <activity android:name=".ListTariActivity" />
        <activity android:name=".ListSeniActivity" />
        <activity android:name=".RateActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".AksaraActivity" />
        <activity android:name=".ProdukActivity" />
        <activity android:name=".RumahActivity" />
        <activity android:name=".MusikActivity" />
        <activity android:name=".TariActivity" />
        <activity android:name=".SeniActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>